In [1]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [6]:
# Read metadata 
pq.read_metadata('yellow_tripdata_2023-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x112560db0>
  created_by: parquet-cpp-arrow version 8.0.0
  num_columns: 19
  num_rows: 3066766
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 10386

In [8]:
file = pq.ParquetFile('yellow_tripdata_2023-03.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [11]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834264 entries, 0 to 2834263
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 410.9+ MB

In [13]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [14]:
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-06-01 00:13:26,2021-06-01 00:17:14,1.0,0.90,1.0,N,186,50,1,5.0,3.00,0.5,2.20,0.00,0.3,11.00,2.5,0.00
1,1,2021-06-01 00:32:23,2021-06-01 01:07:04,1.0,23.00,1.0,N,132,18,2,61.5,1.75,0.5,0.00,6.55,0.3,70.60,0.0,1.25
2,1,2021-06-01 00:12:15,2021-06-01 00:15:28,0.0,0.90,1.0,N,138,70,2,5.0,1.75,0.5,0.00,0.00,0.3,7.55,0.0,1.25
3,1,2021-06-01 00:35:00,2021-06-01 00:53:17,0.0,11.20,1.0,N,138,189,1,31.5,1.75,0.5,8.50,0.00,0.3,42.55,0.0,1.25
4,2,2021-06-01 00:31:01,2021-06-01 00:52:27,1.0,9.49,1.0,N,138,142,1,28.5,0.50,0.5,7.77,6.55,0.3,47.87,2.5,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-06-02 10:37:29,2021-06-02 10:43:55,1.0,1.50,1.0,N,162,170,1,7.0,2.50,0.5,2.05,0.00,0.3,12.35,2.5,0.00
99996,1,2021-06-02 10:58:28,2021-06-02 11:57:24,2.0,17.00,2.0,N,230,132,1,52.0,2.50,0.5,4.70,0.00,0.3,60.00,2.5,0.00
99997,2,2021-06-02 10:44:39,2021-06-02 10:58:20,1.0,0.91,1.0,N,236,236,1,9.5,0.00,0.5,1.54,0.00,0.3,14.34,2.5,0.00
99998,2,2021-06-02 10:21:29,2021-06-02 10:34:24,1.0,3.86,1.0,N,151,48,1,14.0,0.00,0.5,3.46,0.00,0.3,20.76,2.5,0.00
99999,2,2021-06-02 10:36:28,2021-06-02 10:45:44,1.0,1.38,1.0,N,48,239,1,8.0,0.00,0.5,0.00,0.00,0.3,11.30,2.5,0.00

In [15]:
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      4.992 seconds.

inserting batch 2...
inserted! time taken      4.538 seconds.

inserting batch 3...
inserted! time taken      4.485 seconds.

inserting batch 4...
inserted! time taken      4.726 seconds.

inserting batch 5...
inserted! time taken      4.741 seconds.

inserting batch 6...
inserted! time taken      4.642 seconds.

inserting batch 7...
inserted! time taken      4.608 seconds.

inserting batch 8...
inserted! time taken      5.011 seconds.

inserting batch 9...
inserted! time taken      4.879 seconds.

inserting batch 10...
inserted! time taken      4.776 seconds.

inserting batch 11...
inserted! time taken      4.795 seconds.

inserting batch 12...
inserted! time taken      5.009 seconds.

inserting batch 13...
inserted! time taken      4.714 seconds.

inserting batch 14...
inserted! time taken      4.855 seconds.

inserting batch 15...
inserted! time taken      4.795 seconds.

inserting batch 16...
inserted! time taken      4.697 seconds.

inserting batch 17...
inserted! time taken      4.797 seconds.

inserting batch 18...
inserted! time taken      4.812 seconds.

inserting batch 19...
inserted! time taken      4.847 seconds.

inserting batch 20...
inserted! time taken      4.567 seconds.

inserting batch 21...
inserted! time taken      4.605 seconds.

inserting batch 22...
inserted! time taken      5.120 seconds.

inserting batch 23...
inserted! time taken      4.774 seconds.

inserting batch 24...
inserted! time taken      4.732 seconds.

inserting batch 25...
inserted! time taken      5.181 seconds.

inserting batch 26...
inserted! time taken      5.062 seconds.

inserting batch 27...
inserted! time taken      5.081 seconds.

inserting batch 28...
inserted! time taken      4.508 seconds.

inserting batch 29...
inserted! time taken      1.532 seconds.

Completed! Total time taken was    136.284 seconds for 29 batches.

In [16]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq

In [17]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'
# url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-06.parquet'

file_name = url.rsplit('/', 1)[-1].strip()
file_name

'taxi+_zone_lookup.csv'

In [16]:

df = pd.read_csv('taxi_zone_lookup.csv')

In [17]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [18]:
new_column_names = {
    'LocationID': 'locationid',
    'Borough': 'borough',
    'Zone': 'zone'
}
df = df.rename(columns=new_column_names)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   locationid    265 non-null    int64
 1   borough       264 non-null    object
 2   zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [20]:
print(pd.io.sql.get_schema(df, name='zones', con=engine))

CREATE TABLE zones (
	locationid BIGINT,
	borough TEXT,
	zone TEXT,
	service_zone TEXT
)

In [21]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265